<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .input-group-append .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }


        .center-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            width: 100%;
            max-width: 400px;
        }
    </style>
</head>
<body>
<div class="container center-form">
    <div class="form-container">
        <h2 class="text-center">Reset Password</h2>
        <form id="resetPasswordForm">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Proceed</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        const userId = localStorage.getItem("userIdForResetPassword");
        if (userId === null) {
            window.location.href = '/api/user/forgot-password';
        }

        $('#resetPasswordForm').submit(function (event) {
            event.preventDefault();

            const password = $('#password').val();
            const confirmPassword = $('#confirmPassword').val();

            if (password !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Password Mismatch',
                    text: 'Password and confirm password do not match!',
                    showCloseButton: true
                });
                return;
            }

            const formData = {
                password: password,
                confirmPassword: confirmPassword
            };

            const apiEndpoint = 'http://localhost:8080/api/user/reset-password/' + userId;
            localStorage.removeItem("userIdForResetPassword");

            fetch(apiEndpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Password Reset',
                            text: data.message,
                            showConfirmButton: false,
                            timer: 5000
                        });
                        window.location.href = '/api/user/login';
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error in Reset password',
                            showCloseButton: true
                        });
                    }
                })
        });
    });
</script>
</body>
</html>