<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Account Successful</title>
</head>
<body style="background-color: #f0f0f0; font-family: Arial, sans-serif; text-align: center;">
<div style="background-color: #ffffff; border-radius: 8px; margin: 20px auto; padding: 20px; width: 80%; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <p style="color: #333; font-size: 18px;">Hello [[${name}]], </p>
    <h1 style="color: #007bff;">Account Created Successfully</h1>
    <p style="color: #333; font-size: 18px;">
    <p style="display: inline-block">Name : </p>
    <p style="display: inline-block; margin-left: 5px"> [[${name}]] </p><br>
    <p style="display: inline-block">Account Number : </p>
    <p style="display: inline-block; margin-left: 5px"> [[${accountNumber}]] </p><br>
    <p style="display: inline-block">Email : </p>
    <p style="display: inline-block; margin-left: 5px"> [[${email}]] </p><br>
    <p style="display: inline-block">Phone Number : </p>
    <p style="display: inline-block; margin-left: 5px"> [[${phoneNumber}]] </p>
    </p>
</div>
<p style="color: #333; font-size: 16px; margin-top: 20px;">If above details is incorrect, Please raise a request
    to update details</p>
</body>
</html>